:root{
    --darkest:   #E5E5E5;
    --dark:		 #40403A;
    --darkBlue:  #0D559D;
    --midGray: #bf5763;
    --midRed:  	 #C65751;
    --midGreen:  #80B856;
    --accent:    #F5B444;
    --brightest: #FFFFFF;
    --grey: #E5E5E5;

    --gaps: var(--darkest);

    --dark-text: var(--darkest);
    --bright-text: var(--brightest);

    --campus-bg: var(--grey);
    --campus-txt: var(--dark-text);
    --login-bg: var(--grey);
    --login-txt: var(--dark-text);

    --content: var(--brightest);

    --tile-bg1: var(--midGray);
    --tile-txt1: var(--bright-text);
    --tile-bg2: var(--accent);
    --tile-txt2: var(--bright-text);
    --tile-bg3: var(--midRed);
    --tile-txt3: var(--bright-text);
    --tile-bg4: var(--midGreen);
    --tile-txt4: var(--bright-text);
    --tile-bg5: var(--darkBlue);
    --tile-txt5: var(--bright-text);

    --tile-hover-bg: var(--midGray);
    --tile-hover-txt: var(--dark-text);

    --tile-active-bg: var(--brightest);
    --tile-active-txt: var(--dark-text);
    --grid-gap: 0;
}

#switch_campus{
    background: var(--darkest);
    color: black;
    padding-top: 3%;
}
#login{
    background: var(--darkest);
    color: black;
    padding-top: 15%;
}

/*#logo, #switch_campus, #goto_main, #login, #logout{
    background: var(--midGray);
    color: var(--brightest);
}*/

/*.left>*:not(.active), .right>*:not(.active){
    background: var(--dark);
    color: var(--brightest);
}*/
.content{
    background: var(--content);
}

#wrapper{
    background: var(--gaps);
}

#news{
  /*  background:
            radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.15) 30%, rgba(255,255,255,.3) 30%, rgba(255,255,255,0) 33%) 0 0,
            radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.3) 13%, rgba(255,255,255,0) 14%) 0 0,
            radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 17%, rgba(255,255,255,.43) 19%, rgba(255,255,255,0) 20%) 0 110px,
            radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) -130px -170px,
            radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) 130px 370px,
            radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.2) 13%, rgba(255,255,255,0) 14%) 0 0;
           !* linear-gradient(45deg, #343702 0%, #184500 20%, #187546 30%, #006782 40%, #0B1284 50%, #760EA1 60%, #83096E 70%, #840B2A 80%, #B13E12 90%, #E27412 100%);*!
    background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100%;*/
    background-color: #F5B444;
}
#announcements{
    background: var(--tile-bg5);
    color: var(--tile-txt5);
}
#counseling{
    background: var(--tile-bg5);
    color: var(--tile-txt5);
}
#p-c-interaction{
    background: var(--tile-bg4);
    color: var(--tile-txt4);
}
#events{
    background: var(--tile-bg2);
    color: var(--tile-txt2);
}
#schedule{
    background: var(--tile-bg4);
    color: var(--tile-txt4);
}
#restaurant{
    background: var(--tile-bg5);
    color: var(--tile-txt5);
}
#course{
    background: var(--tile-bg2);
    color: var(--tile-txt2);
}
#contact{
    background: var(--tile-bg4);
    color: var(--tile-txt1);
}

.flip-text:hover:not(.active){
    filter:sepia(50%)
}
.shadow{
    box-shadow: -2px 2px 5px 5px rgba(0,0,0,0.2);
}
.hover_shadow:hover:not(.active){
    box-shadow: -2px 2px 5px 5px rgba(0,0,0,0.2);
}
.active_shadow.active{
    box-shadow: -2px 2px 5px 5px rgba(0,0,0,0.2);
}
.active{
    background: var(--tile-active-bg);
    color: var(--tile-active-txt);
}